
   /* label focus color */
   .input-field input[type=text]:focus + label {
		color: #f9a825 !important;
   }
   
   .input-field input[type=password]:focus + label {
     color: #f9a825 !important;
   }
   
   .input-field input[type=number]:focus + label {
     color: #f9a825 !important;
   }
   
    .input-field input[type=email]:focus + label {
     color: #f9a825 !important;
   }
   
    
   /*label underline focus color*/
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #f9a825 !important;
	 box-shadow:0 1px 0 0 #f9a825 !important;
	 border-bottom-color: #f9a825 !important;
   }
   
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #f9a825 !important;
	 box-shadow:0 1px 0 0 #f9a825 !important;
	 border-bottom-color: #f9a825 !important;
   }
   
   .input-field input[type=number]:focus {
     border-bottom: 1px solid #f9a825 !important;
	 box-shadow:0 1px 0 0 #f9a825 !important;
	 border-bottom-color: #f9a825 !important;
   }
   
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #f9a825 !important;
	 box-shadow:0 1px 0 0 #f9a825 !important;
	 border-bottom-color: #f9a825 !important;
   }
   
   /* VALID COLOR */
   input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #fff59d !important;
    box-shadow: 0 1px 0 0 #fff59d !important;
   }
   
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #f9a825 !important;
   }
   
   /* select option color */
   .dropdown-content li>a, .dropdown-content li>span {
	color: #f9a825 !important;	
   }
   
   /* text area color */
   textarea.materialize-textarea:focus:not([readonly])+label {
	color: #f9a825;   
   }
   
   textarea.materialize-textarea:focus:not([readonly]){
	border-bottom:1px solid #f9a825; 
	box-shadow:0 1px 0 0 #f9a825;
   }
   
     /* CUSTOMIZE DATE PICKER COLOR */
  .picker__day.picker__day--today {
    color: #f9a825;
  }
  
  .picker__date-display {
    background-color: #f9a825;
  }
  
  .picker__weekday-display {
    background-color: #f57f17;
  }
  
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #f9a825;
  }
  
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background: #f9a825;
  }
  
  .picker__close,.picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #f9a825;
  }
  
  .picker__nav--prev:hover, .picker__nav--next:hover {
    background: #eee;
  }
  
     /* oveeride table strip color */
 table.striped>tbody>tr:nth-child(odd) {
	 background-color:#fffde7;
 }
 
 /* oveeride radio button color */
 [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #f9a825;
 }
 
 [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #f9a825;
 }